* {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2s linear;
}

/* variables */

:root {
    --white: #fff;
    --dark-gray: #ababab;
    --light-gray: #808080;
    --dark-bg: #222222;
    --light-bg: #333333;
    --yellow: #bac964;
    --box-shadow: 0.0.5rem 1rem rgba(0, 0, 0, 0.1);
    --light-blue: #0e9fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: var(--white);
}

html::-webkit-scrollbar-thumb {
    background: var(--light-bg);
}
body {
    background-color: var(--dark-bg);
}

section {
    padding: 5rem 9%;
}

.heading {
    color: var(--white);
    font-size: 3rem;
    font-weight: 200;
    text-align: center;
    padding-bottom: 4rem;
}

.heading span {
    font-weight: 700;
}

.btn {
    background-color: var(--yellow);
    font-size: 1.7rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    color: var(--dark-bg);
    text-transform: uppercase;
    margin-right: 1rem;
    display: inline-block;
    margin-top: 1rem;
}

.image-preview {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
}

.image-preview img {
    max-width: 90%;
    max-height: 90%;
}

/* HOME */
.home {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('img/bg-image.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.home .hero-text {
    font-size: 7rem;
    color: var(--white);
    font-weight: 200;
    line-height: 1.2;
}

.home .hero-text span {
    font-weight: 800;
}

.home p {
    color: var(--dark-gray);
    font-size: 1.5rem;
    margin-top: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}
/* HOME ENDLINE */

/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 3rem 9%;
    z-index: 100;
}

.header .navbar a:hover {
    color: var(--yellow);
}

.header.active {
    background-color: var(--light-bg);
    padding: 3rem 9%;
}

.header.active .navbar a{
    color: var(--white);
}

.header.active .navbar a:hover {
    color: var(--yellow);
}

/* dropdown menu */
.header.active .menu {
    color: var(--white);
}
/* dropdown menu */

.header .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .navbar a {
    font-size: 1.5rem;
    color: var(--white);
    padding: 0 2rem;
    letter-spacing: 0.3rem;
    font-weight: 300;
    text-transform: uppercase;
}

.header .navbar a.active {
    color: var(--yellow);
}

/*  DROPDOWN MENU */
.header .menu {
    font-size: 2.5rem;
    color: var(--white);
    cursor: pointer;
    text-align: left;
    display: none;
}
/* HEADER ENDLINE */

/* PORTFOLIO SECTION START */
.portfolio {
    height: auto;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('img/bg-image.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.portfolio .heading-container {
    padding: 3.5%;
    text-align: center;
    height: 12.5rem;
    z-index: 100;
}

.portfolio .heading {
    color: var(--white);
    font-size: 3rem;
    font-weight: 200;
}

.portfolio .heading span {
    font-weight: 700;
}

.portfolio .box-container .box .image {
    height: 30rem;
    overflow: hidden;
    position: relative;
}

.portfolio .box-container .box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 12rem;
}

.portfolio .box-container .box {
    background-color: var(--light-bg);
    padding: 1rem;
    box-shadow: var(--box-shadow);
}

.portfolio .box-container .box:hover .image img {
    transform: scale(1.2);
}

.portfolio .box-container .box:hover .image .content {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--light-bg);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
}

.portfolio .box-container .box:hover .image .content h2 {
    font-size: 2rem;
    color: var(--white);
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.portfolio .box-container .box:hover .image .content {
    transform: translateY(0);
}


/* PORTFOLIO SECTION ENDLINE */

/* GALLERY START */
.gallery {
    height: auto;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('img/bg-image.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.gallery .heading-container {
    padding: 5%;
    text-align: center;
    height: 12.5rem;
    z-index: 100;
}

.gallery .heading {
    border-top: 0.45rem var(--white);
}

.gallery .box-container .box .image {
    height: 30rem;
    overflow: hidden;
    position: relative;
}

.gallery .box-container .box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 4rem;
}

.gallery .box-container .box {
    background-color: var(--box-shadow);
    padding: 1rem;
    box-shadow: var(--box-shadow);
}

.gallery .box-container .box:hover .image img {
    transform: scale(1.2);
}

.gallery .box-container .box:hover .image .content {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--light-bg);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
}

/* ABOUT START */
.about .heading-container {
    padding: 1%;
}

.about .box-container .box .image {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.about .box-container .box .image img {
    width: 100%;
    height: auto;
    position: relative;
    object-fit: cover;
    border-radius: 50%;
}

.about .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 4rem;
}

.about .box-container .box p {
    color: var(--dark-gray);
    margin-bottom: 2rem;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    line-height: 1.5;
    text-transform: none;
}
/* ABOUT ENDLINE */

/* CONTACT  */
.contact .heading-container {
    padding: 4%;
    height: 16rem;
    z-index: 100;
}

.contact .col-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 6rem;
}

.contact .col-container .col h2 {
    font-size: 2.5rem;
    color: var(--white);
    font-weight: 200;
    padding-bottom: 5rem;
}

.contact .col-container .col h3 {
    font-size: 2.5rem;
    color: var(--white);
    font-weight: 200;
    padding-bottom: 2rem;
}
.contact .col-container .col ion-icon {
    font-size: 2.5rem;
    color: var(--yellow);
    background-color: var(--light-bg);
    border-radius: 50%;
    padding: .7rem;
    margin: 0 1rem;
    cursor: pointer;
}

.contact .col-container .col input,
.contact .col-container .col textarea {
    background-color: var(--light-bg);
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1.7rem;
    color: var(--dark-gray);
    margin: 0.5rem 0;
    resize: vertical;
}

.contact .col-container .col p {
    font-size: 1.7rem;
    color: var(--yellow);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.contact .col-container .col span {
    font-size: 1.5rem;
    color: var(--dark-gray);
    letter-spacing: 0.1rem;

}
/* CONTACT ENDLINE*/


/* CREDITS START */
.credits {
    position: relative;
}

.credits .heading-container {
    padding: 4%;
    height: 16rem;
    z-index: 100;
}

.credits .container {
    font-size: 1.3rem;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55vh;
  }

  .credits .column {
    width: 50%;
    padding: 20px;
    color: var(--white);
  }

  .credits .column li{
    display: flex;
    text-indent: 20px;
    margin-bottom: 10px;
    justify-content: space-between;
  }

  .credits .column a {
    font-style: italic;
    text-align: right;
    display: block;
    color: var(--light-blue);
    transition: color 0.3 ease;
  }

  .credit .column a {
    color: var(--yellow);
  }
  
  .credits .column-ref {
    width: 50%;
    padding: 20px;
    color: var(--white);
  }
  
  .credits .column h1, .column-ref h2 {
    font-size: 2.5rem;
    height: 5rem;
  }

  .credits .column-ref ul a{
    text-align: right;
    display: block;
  }
  
  .credits .column-ref ul li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: flex-start;
    text-indent: 20px;
  }

  .credits .column-ref ul li a {
    text-align: right;
    font-style: italic;
    color: var(--light-blue);
    transition: color 0.3 ease;
  }

  .credit .column-ref ul li a:hover {
    color: var(--yellow);
  }
  
  p:last-child {
    text-align: left;
  }

  .credits .column h1 li, .column-ref h2 li {
    position: bottom;
  }
/* CREDITS END */


/* FOOTER-all */
.footer {
    text-align: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.footer .socials ion-icon {
    font-size: 2.5rem;
    color: var(--yellow);
    background-color: var(--light-bg);
    border-radius: 50%;
    padding: .7rem;
    margin: 0.1rem 1rem;
    cursor: pointer;
}

.footer #copy{
    font-size: 1.7rem;
    color: var(--dark-gray);
    margin-top: 0.1rem;
    text-align: center;
}

.footer p {
    font-size: 1.7rem;
    color: var(--dark-gray);
    margin-top: 0.1rem;
    text-align: center;
}
/* FOOTER-all ENDLINE */

/* FOOTER w/ Background */
.footer-bg {
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('img/bg-image.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.footer-bg .socials ion-icon {
    font-size: 2.5rem;
    color: var(--yellow);
    background-color: var(--light-bg);
    border-radius: 50%;
    padding: .7rem;
    margin: 0.1rem 1rem;
    cursor: pointer;
}

.footer-bg #copy{
    font-size: 1.7rem;
    color: var(--dark-gray);
    margin-top: 0.1rem;
    text-align: center;
}

.footer-bg p {
    font-size: 1.7rem;
    color: var(--dark-gray);
    margin-top: 0.1rem;
    text-align: center;
}
/* FOOTER w/ Background END*/

/* MEDIA QUERIES */
@media (max-width: 1200px) {
    .header {
        padding: 3rem 2rem;
    }

    .header .header.active {
        padding: 2rem;
    }

    section {
        padding: 3rem 2rem;
    }
}

@media (max-width: 991px) {
    html {
        font-size:  60%;
    }
}

@media (max-width: 768px) {
    .header .menu {
        display: block;
    }   
        .header .navbar {
            position: fixed;
            top: 6rem;
            left: 0;
            right: 0;
            background-color: var(--light-bg);
            display: flex;
            flex-direction: column;
            align-items: center;
            transform: translateX(100%);
        }

        .header .navbar.show {
            transform: translateX(0);
        }

        .header .navbar a {
            color: var(--white);
            margin: 0;
            font-size: 2rem;
            margin: 2rem 0; 
        }
}

@media (max-width: 450px) {
    html {
        font-size: 55%;
    }

    .home .hero-text {
        font-size: 6rem;
    }
}